<app-navbar></app-navbar>
<div class="jumboImage jumbo">
    <div style="position: relative; top: 150px; left: 80px; max-width: 400px; background-color: #F6F7F9; padding: 20px; border-radius: 12px;" class="desktop-only">
        <h3>About AI Pilipinas</h3>
        <p style="text-overflow: clip; word-wrap: break-word; font-size: 15pt;">
            We are a community of Filipinos who are continuously upskilling tech capabilities and learn Machine Learning/Artificial Intelligence. These skills can either be used for research purposes and/or developing and deploying end-to-end solutions.<br><br>
            This community is open to different skill levels and educational backgrounds. This group aims to build a community of AI researchers and engineers and promote a collaborative exchange of knowledge, best practices, and tips in applying machine learning. Making the Philippines one of the globally recognized leaders and experts in AI.
        </p>
    </div>
</div>
<div class="container breather">

    <app-section #aboutus sectionTitle="About Us" id="about-us" class="mobile-only">
        <p style="text-overflow: clip; word-wrap: break-word; font-size: 15pt;">
        We are a community of Filipinos who are continuously upskilling tech capabilities and learn Machine Learning/Artificial Intelligence. These skills can either be used for research purposes and/or developing and deploying end-to-end solutions.<br><br>
        This community is open to different skill levels and educational backgrounds. This group aims to build a community of AI researchers and engineers and promote a collaborative exchange of knowledge, best practices, and tips in applying machine learning. Making the Philippines one of the globally recognized leaders and experts in AI.
        </p>
    </app-section>

    <app-section #events sectionTitle="Events" id="events">

        <!-- card1 -->
        <div class="card" style="background-image: url('/assets/images/meetup.jpg'); background-repeat: no-repeat; background-position: right center; background-size: cover;">
            <div class="card-content" style="display: flex; flex-wrap: nowrap;">
                <div class="desktop-only" style="margin-right: 40%;"></div>
                <div>
                    <p style="font-size: 20pt; background-color: aliceblue; opacity: 0.8; padding: 20px; border-radius: 12px;">Visit our Meetup Page<br>for the latest events</p>
                    <a class="card-button" href="https://meetup.com/AIPilipinas/events" style="background-color: #BD303A;" title="Visit our Meetup Page">Visit Meetup</a>
                </div>
            </div>
        </div>
        <!-- .card1 -->

        <!-- card2 -->
        <div class="card">
            <div class="card-content" style="display: flex; flex-wrap: nowrap;">
                <div class="desktop-only" style="margin-right: 30%">
                    <svg width="100" viewBox="0 0 225 430" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M130 45.5L67.75 90.9663V0.0336643L130 45.5Z" fill="#FA5254"/>
                        <path d="M225 123.5L162.75 168.966V78.0337L225 123.5Z" fill="#FAC346"/>
                        <path d="M225 264.5L162.75 309.966V219.034L225 264.5Z" fill="#FAC346"/>
                        <path d="M130 188.5L67.75 233.966V143.034L130 188.5Z" fill="#FA5254"/>
                        <path d="M130 331.5L67.75 376.966V286.034L130 331.5Z" fill="#FA5254"/>
                    </svg>
                </div>
                <div>
                    <p style="color: #FFF952; font-weight: bold; font-size: 20pt; margin-bottom: 0;">SPEAKER<br>REQUEST</p>
                    <p style="color: white; font-weight: bold; font-size: 15pt; margin-top: 0; margin-bottom: 30px;">Need a speaker for your upcoming event?</p>
                    <a class="card-button" href="https://bit.ly/aipilipinas-request" title="Send a Request">Send a Request</a>
                </div>
            </div>
        </div>
        <!-- .card2 -->

        <!-- card3 -->
        <div class="card" style="background-image: url('/assets/images/mlhackfest_bg.png');">
            <div class="card-content" style="display: flex; flex-wrap: nowrap;">
                <div class="desktop-only" style="margin-right: 40%">
                </div>
                <div>
                    <img src="/assets/images/mlhackfest_logo.png" style="width: 120px">
                    <p style="color: white; font-weight: bold; font-size: 15pt; margin-top: 0; margin-bottom: 30px;">The first machine learning hackathon in the country.</p>
                    <a class="card-button" href="https://mlhackfest.senti.ai" title="Visit MLHackfest Site">Learn More</a>
                </div>
            </div>
        </div>
        <!-- .card3 -->

        <!-- 

            ADD CARDS HERE

        -->
        
    </app-section>

    <app-section #communityguidelines sectionTitle="Community Guidelines" id="communityguidelines">
        <p style="text-overflow: clip; word-wrap: break-word; font-size: 15pt;">
            - Be nice. We're all part of the same community, so be friendly, be welcoming, and generally be a nice person.<br><br>
            - Be someone that other people want to be around.<br><br>            
            - Be respectful and constructive. We're a very diverse group, so we're not going to agree all the time. Remember to be respectful and constructive with your communication to your fellow peers.<br><br>           
            - Be collaborative. Work together! We can learn a lot from each other. Share knowledge, update the wiki, help each other out.<br><br>            
            - Participate. This is YOUR community, so be a part of it! Join in on discussions, show up for in-person meetings regularly, offer feedback, and offer to help implement that feedback!            
        </p>
    </app-section>

    <app-section #partners sectionTitle="Partners & Supporters" id="partners">
        <app-partner-container>
            <app-partner title="Senti AI Website" siteUrl="https://senti.ai" imageUrl="/assets/images/partners/senti.png"></app-partner>
            <app-partner title="Google.com" siteUrl="https://google.com" imageUrl="/assets/images/partners/google.png"></app-partner>
            <app-partner title="Deeplearning AI" siteUrl="https://www.deeplearning.ai" imageUrl="/assets/images/partners/deeplearningai.png"></app-partner>    
            <!--

                ADD PARTNERS AND SPONSORS HERE

            -->
        </app-partner-container>
    </app-section>

    <app-section #team sectionTitle="Team" id="team">
        <app-person-container>
            <app-person imageUrl="/assets/images/team/ralph.jpg" fullName="Ralph Regalado" position="Community Lead"></app-person>
            <app-person imageUrl="/assets/images/team/justine.jpg" fullName="Justine Clemente"></app-person>
            <app-person imageUrl="/assets/images/team/kristine.jpg" fullName="Kristine Adlaon"></app-person>
            <app-person imageUrl="/assets/images/team/chad.jpg" fullName="Richard Ricardo"></app-person>
            <!-- ADD A TEAM MEMBER HERE -->
        </app-person-container>
    </app-section>
</div>

<app-footer></app-footer>