<div class="navbar">
    <div class="navbar-logo-container">
        <img src="/assets/images/logo.png" class="navbar-logo">
    </div>
    <div class="navbar-links">
        <div>
            <a href="javascript:void(0)" onclick="(document.getElementById('aboutus')).scrollIntoView({behavior:'smooth'});" title="About Us">About Us</a>
        </div>
        <div>
            <a href="javascript:void(0)" onclick="(document.getElementById('events')).scrollIntoView({behavior:'smooth'});" title="Events">Events</a>
        </div>
        <div>
            <a href="javascript:void(0)" onclick="(document.getElementById('communityguidelines')).scrollIntoView({behavior:'smooth'});" title="Community Guidelines">Community Guidelines</a>
        </div>
        <div>
            <a href="javascript:void(0)" onclick="(document.getElementById('partners')).scrollIntoView({behavior:'smooth'});" title="Partners & Supporters">Partners</a>
        </div>
        <div>
            <a href="javascript:void(0)" onclick="(document.getElementById('team')).scrollIntoView({behavior:'smooth'});" title="Team">Team</a>
        </div>
    </div>
</div>